/*
header {
    z-index: initial;
    position: absolute;
    display: contents;
}

*/

bloque-derecho {
    margin-right: 180px;
    align-self: flex-end;
    padding-right: 180px;
    /*justify-self: right; 
    justify-content: flex-end;*/

    background-color: blue;
}