<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
    <div *ngFor="let producto of productos_idx.producto_idx">
      <a routerLink="/item {{ producto.id }}" class="animated fadeIn rk-item ae-masonry__item">
        <img src="assets/productos/{{ producto.url }}.jpg" alt="">
        <div class="item-meta">
          <h2>{{ producto.titulo }}</h2>
          <p>{{ producto.categoria }}</p>
          <p>Prueba</p>
        </div>
      </a>
    </div>
  </div>
</section>